#hero-section-formulario {
    color: var(--cor-titulo);
    background-color: var(--background-header);
    border-radius: 0 0 50% 50%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}

h2 {
    font-size: 2rem;
}

h2, form {
    font-family: var(--fonte-texto);
    color: var(--cor-texto);
}

form {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto;

}

 form #section-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.div-formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.div-formulario-escolha {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

select {
    display: flex;
    padding: .9rem;
    border-radius: 10px;
    border: 1px solid #6584a0;
    color: var(--cor-select);
}

input {
    color: var(--cor-select);
    height: 10px;
    padding: 1rem;
    
    margin-top: 0.5rem;

    border-radius: 10px;
    border: 1px solid #6584a0;
}

label {
    font-size: 1.2rem;
    color: var(--cor-texto);
    margin: 1rem 0 0 0;
}

.botao-pagina {
    font-family: var(--fonte-texto);
    color: var(--cor-texto);
    font-size: 1.1rem;
    width: 30%;
    margin: 2rem auto 0;
    padding: .8rem;

    background-color: var(--background-botao);
    border: 1px solid #85AFD4;
    border-radius: 50px 5px;
    box-shadow: var(--sombreado);
}

.conjunto-botoes {
    display: flex;
}

#passo1, #passo2, #passo3, #passo4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    padding: 1rem 5rem 2rem 5rem;
    background-color: var(--background-cards);
    border-radius: 80px 10px;
    border: 2px solid var(--cor-texto);
    box-shadow: 20px 20px 40px rgba(46, 46, 46, 0.5);
}

#passo2, #passo3, #passo4 {
    display: flex;
    gap: 1rem;
}

h2 {
    text-align: center;
}

#passo2, #passo3, #passo4 {
    display: none;
}

#passo4 {
    max-width: 100%;
    margin: 0 auto;
}

#passo4 h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
}

.cards-estilo-vida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    cursor: pointer;

    padding: 1rem 2rem;
    background-color: #A7C7E7;
    border-radius: 20px;
    border: 2px solid #85AFD4;
    box-shadow: 20px 20px 40px rgba(46, 46, 46, 0.5);
}

.opcoes-estilo-vida {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.opcoes-estilo-vida img {
    max-width: 150px;
    margin: 0 auto;
    cursor: pointer;
}

#confirmacao {
    font-family: var(--fonte-titulo) ;
    font-size: 2rem;
    font-weight: 600;
    color: var(--cor-titulo);
    background-color: var(--background-header);
    border-radius: 0 0 50% 50%;

    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding: 3rem;
}

.paragrafos-confirmacao {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

#confirmacao .botao {
    background-color: #d0eef8;
    border-radius: 50px 5px;
    box-shadow: var(--sombreado);

    font-family: var(--fonte-texto);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-texto);

    margin-top: 2rem;
    padding: 1.5rem;
}

#confirmacao .botao:hover {
    background-color: #00253C;
    color: #EAF6FA;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}