#hero-section {
    background: var(--background-principal);
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    overflow: hidden;
}

.hero-section-conteudo {
    color: var(--cor-titulo);
    font-size: 1.5rem;

    padding-right: 2rem;
    min-width: 40%;
    margin: 2.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-section-conteudo a {
    background-color: var(--background-botao);
    border-radius: 50px 5px;
    box-shadow: var(--sombreado);

    font-family: var(--fonte-titulo);
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--cor-texto);

    margin-top: 2rem;
    padding: 1.5rem;
}

#hero-section img {
    width: 30%;
    min-width: 170px;

    background-color: #85AFD4;
    padding: 1%;
    margin: 0;
    border-radius: 50%;
    box-shadow: var(--sombreado);

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.conjunto-imagens {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

#hero-section-imagens-esquerda .conjunto-imagens:nth-child(odd),
#hero-section-imagens-direita .conjunto-imagens:nth-child(even) {
    transform: translateX(-25%);
}

#hero-section-imagens-esquerda .conjunto-imagens:nth-child(even),
#hero-section-imagens-direita .conjunto-imagens:nth-child(odd) {
    transform: translateX(8%);
}