@import url('landing/hero-section.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* :root {

} */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

h1 {
    font-size: 3rem;
    font-family: "Raleway", sans-serif;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: #F5E9DA;
}

#logo img {
    width: 30%;
}