#manifest-about-us {
    background: linear-gradient(to left, #2c2c2c,#171717, #171717);
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.manifest-text {
    color: #DBDBDB;
    font-family: 'Didact Gothic', serif;
    font-size: 1.5em;
    padding: 4em;
}

#manifest-img img {
    height: 90vh;
    padding: 0;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    box-shadow: -20px #171717;
}

#people-team {
    display: flex;
    justify-content: center;
    align-items: center;
}

#our-team {
    margin: 2.5em;
}

#our-team h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}

#our-team figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#our-team img {
    height: 30em;
    border-radius: 0.5em;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

#our-team figcaption {
    max-width: 60%;
    opacity: 0.8;
}