#hero-section {
    background: linear-gradient(to left,#111, #2c2c2c, #3a3a3a );
    color: #DBDBDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    height: 90vh;
    overflow: hidden;
}

#hero-section img {
    height: 100%;
    height: 100vh;
    padding: 0;
    object-fit: cover;
    margin: 0;
    padding: 0;
    display: block;
    box-shadow: -20px 0 40px rgba(26, 26, 26, 0.9);
}

.hero-content {
    font-family: 'Didact Gothic', serif;
    font-size: 3em;
    padding: 5em;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 30%;
}

.hero-content a {
    font-size: 41px;
    text-decoration: none;
    color: #1f1f1f;
    background-image: linear-gradient(to right, #ADA996, #c5c1ab);
    padding: 0.5em;
    border-radius: 0.3em;
    white-space: nowrap;
}