@import url('shared/header.css');
@import url('shared/footer.css');
@import url('shared/carousel.css');
@import url('principal/hero-section.css');
@import url('principal/manifest.css');
@import url('about-us/about-us.css');
@import url('about-us/about-us-values.css');
@import url('products/collection.css');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --cor-de-fundo: linear-gradient(to bottom, #EAEAEA, #DBDBDB);
    --cor-header: #EAEAEA;
    --fonte-body: 'Playfair Display', serif;
    --fonte-title: 'Didact Gothic', serif;
    --cor-button: linear-gradient(to right, #ADA996, #c5c1ab);
    --cor-hero-section: linear-gradient(to right,#2c2c2c, #070707, #070707);
    --cor-about-us: linear-gradient(to right, #2c2c2c, #000, #000);
}

body {
    background-image: var(--cor-de-fundo);
    font-family: var(--fonte-body);
}

h1 {
    font-weight: 400;
}

h1 strong {
    font-weight: 800;
    background: var(--cor-button);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

h2 {
    font-family: var(--fonte-body);
}

#collection {
    font-family: var(--fonte-title);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0 4em 0;
}

#collection a {
    font-size: 1.5em;
    color: #1f1f1f;
    text-decoration: none;
    background-image: var(--cor-button);
    padding: 1em;
    border-radius: 0.5em;
}
